.bottom_active{
    color:blue;
}
.flex_bottom{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background: rgb(232,232,232);
    max-height: 100px;
}
.bottom_item{
    flex:0 1 auto;
    padding:1em;
    display:inline-flex;
    flex-direction:column;
    max-height: 100px;
    align-items:center;

}
.bottom_item img{
    margin-bottom: 0.5em;
}
