.bottom_active{
    color:blue;
}
.flex-bottom{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}
.bottom_item{
    padding:1em;
    display:inline-flex;
    flex-direction:column;
}
